<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/register']" color="primary">S'inscrire</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>

<ion-content>
  
  <div id="header">
    <img src="assets/img/Mobile login-bro-svg.png" />
  </div>

  <form #f="ngForm" id="form" (ngSubmit)="login(f.value)" >
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="utilisateur" name="username" ngModel required="" ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="mot de passe" name="password" ngModel required=""></ion-input>
    </ion-item>
    
    <ion-button expand="block" color="primary"  shape="round" [disabled]="!f.valid" type="submit" ><b style="color:white;" >S'identifier</b></ion-button>
  </form>
  <p style="color:orange;  text-decoration: underline;" [routerLink]="['/passwordrecover']" >
    Mot de passe oublié ?
  </p>
  <div class="pprover">
  <p>"TBAL challenge votre nouvelle application de chalenge"</p>
  <!-- <p style="color:#489b2f;">Esaïe 40:8</p> -->
  </div>
</ion-content>