

<ion-header>
  <ion-toolbar>
    <ion-title color="primary" slot="end">Résultat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Retour" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>

<ion-content class="ion-margin">
  <p style="text-align: center; color: green;"><b>Résultat du challenge</b></p>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Rang</ion-col>
      <ion-col>User</ion-col>
      <ion-col>Note</ion-col>
      <ion-col>Cote</ion-col>
    </ion-row>
    <ion-row  *ngFor="let r of resut; index as i" >
      <ion-col *ngIf="r.rang==1" style="color:white; background-color: #2b9655;" > <img _ngcontent-nhc-c3="" src="/assets/img/trophy.png" style="height:35px;"></ion-col>
      <ion-col *ngIf="r.rang==1" style="color:white; background-color: #2b9655;">{{r.username}}<br><span style="font-size: 6px;">{{r.nom}} {{r.prenom}}</span></ion-col>
      <ion-col *ngIf="r.rang==1" style="color:white; background-color: #2b9655;">{{r.note}}</ion-col>
      <ion-col *ngIf="r.rang==1" style="color:white; background-color: #2b9655;">{{r.cote}}</ion-col>


      <ion-col *ngIf="r.rang!=1">{{r.rang}}</ion-col>
      <ion-col *ngIf="r.rang!=1">{{r.username}}<br><span style="font-size: 6px;">{{r.nom}} {{r.prenom}}</span>  </ion-col>
      <ion-col *ngIf="r.rang!=1">{{r.note}}</ion-col>
      <ion-col *ngIf="r.rang!=1">{{r.cote}}</ion-col>
    </ion-row>
    
    
  </ion-grid>
</ion-content>