<ion-header>
  <ion-toolbar>
    <ion-title color="primary" slot="end">paiement</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Retour" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <iframe style="width: 100%; height: 100%;"
  [src]="safeResource" id="newsframe"></iframe>
</ion-content>