
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Retour" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/img/Mobile login-pana.svg" />
  </div>

  <form #f="ngForm" id="form" (ngSubmit)="edit(f.value)">
  
    <ion-item class="ion-margin-bottom">
      <ion-input type="text"  name="nom" value="{{userinfo.nom}}"   required="" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text"  value="{{userinfo.prenom}}" name="prenom"  required="" ></ion-input>
    </ion-item>

    

    <ion-item class="ion-margin-bottom">
      <ion-input type="number"  value="13" name="{{userinfo.age}}"  required="" ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-select  style="display: contents;" name="sexe" placeholder="Sélectionner votre sexe" ngModel>
        <ion-select-option value="{{userinfo.sexe}}">{{userinfo.sexe}}</ion-select-option>
        <ion-select-option value="masculin">Masculin</ion-select-option>
        <ion-select-option value="feminin">Féminin</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button expand="block" color="primary"  shape="round" [disabled]="!f.valid" type="submit" ><b style="color:white;" >M'inscrire</b></ion-button>
  </form>
  
</ion-content>