<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Retour" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>

<ion-content>
  

  <form #codeget="ngForm" id="form"  [hidden]=actifform (ngSubmit)="sendusername(codeget.value)">
    <div id="header">
      <img style="height: 217px;" src="assets/img/Forgot password-cuate.svg" />
    </div>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="non utilisateur" name="username" ngModel required="" ></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary"  shape="round" [disabled]="!codeget.valid" type="submit" ><b style="color:white;" >Valider</b></ion-button>
  </form>




  <form #fvalid="ngForm" id="form"  [hidden]=!actifform (ngSubmit)="changepassword(fvalid.value)">
    <div id="header">
      <img style="height: 217px;" src="assets/img/New message-amico.svg" />
    </div>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Code reçu par sms" name="code" ngModel required="" ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input [type]="showPassword ? 'text': 'password' " placeholder="Mot de passe" name="newpassword" ngModel required=""></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="passwordToggle()"> </ion-icon>
    </ion-item>
    <ion-button expand="block" color="primary"  shape="round" [disabled]="!fvalid.valid" type="submit" ><b style="color:white;" >Valider</b></ion-button>
  </form>
  
  <div class="pprover">
  <!-- <p>"La nouvlle application de chalenge"</p> -->
  <!-- <p style="color:#489b2f;">Esaïe 40:8</p> -->
  </div>
</ion-content>
