
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']" color="primary">S'identifier</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/img/Mobile login-pana.svg" />
  </div>

  <form #f="ngForm" id="form" (ngSubmit)="register(f.value)">
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="nom d'utilisateur *" name="username" ngModel required="" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="nom *" name="nom" ngModel required="" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Prénom *" name="prenom" ngModel required="" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-intl-tel-input 
        id="phone-number" 
        name="telephone" 
        [(ngModel)]="phoneNumber" 
        #phoneNumberControl="ngModel" >
      </ion-intl-tel-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="number" placeholder="Age *" name="age" ngModel required="" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Votre e-mail *" name="email" ngModel required="" ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input [type]="showPassword ? 'text': 'password' " placeholder="Mot de passe" name="password" ngModel required=""></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="passwordToggle()"> </ion-icon>
    </ion-item>

    <ion-item>
      <ion-select  style="display: contents;" name="sexe" placeholder="Sélectionner votre sexe" ngModel>
        <ion-select-option value="masculin">Masculin</ion-select-option>
        <ion-select-option value="feminin">Féminin</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button expand="block" color="primary"  shape="round" [disabled]="!f.valid" type="submit" ><b style="color:white;" >M'inscrire</b></ion-button>
  </form>
  <div class="pprover">
  <p>"TBAL challenge votre nouvelle application de chalenge"</p>
  <!-- <p style="color:#489b2f;">Esaïe 40:8</p> -->
  </div>
</ion-content>
























<!-- <form>
  <ion-item>
    <ion-label position="stacked">Tel Input</ion-label>
    <ion-intl-tel-input 
      id="phone-number" 
      name="phone-number" 
      [(ngModel)]="phoneNumber" 
      #phoneNumberControl="ngModel" >
    </ion-intl-tel-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tel Input</ion-label>
    <ion-intl-tel-input 
      id="phone-number" 
      name="phone-number" 
      [(ngModel)]="phoneNumber" 
      #phoneNumberControl="ngModel" >
    </ion-intl-tel-input>
  </ion-item>
</form> -->