ion-content{
  ion-card{
      margin: 0 0 16px 0;
  }
}

.participation {

  position: absolute;
    top: 0px;
    background: green;
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 0px 0px 10px 0px;
    color: white;
    font-weight: 900;
    padding-top: 3px;
}

.teste {

  position: absolute;
    top: 0px;
    right:0px;
    background: green;
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 0px 0px 0px 10px;
    color: white;
    font-weight: 900;
    padding-top: 3px;
}
.datechalenge{


  background: green;
  height: 25px;
  text-align: center;
  color: white;
  font-weight: 900;
  padding-top: 3px;
  margin-top: -4px;
}

