
<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-segment 
        value="all" 
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel" 
        (ionChange)="segmentChanged($event)" class="bgblack">
    
          <ion-segment-button value="solde" class="bgblack">
            <ion-icon name="wallet-outline"></ion-icon>
            <ion-label>Solde</ion-label>
          </ion-segment-button>
          <ion-segment-button value="depot" class="bgblack">
            <ion-icon name="swap-vertical-outline"></ion-icon>
            <ion-label>Depot</ion-label>
          </ion-segment-button>
    
          <ion-segment-button value="retrait" class="bgblack">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Retrait</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <div *ngIf="segmentModel === 'solde'">
      <ion-card>
        <div style="margin-left: auto !important; margin-right: auto !important;  width: 150px;">
          <img  style=" height: 130px;" src="/assets/img/Coins-rafiki.svg">
        </div>
          <ion-card-content style="text-align: center;">
        <div style="margin-left: auto !important; margin-right: auto !important;  width: 150px;">
          <span><b style="color: black;">Solde Actuele</b></span><br><h1 style="color: #f7770f;"><b>{{solde}} XAF</b></h1>
        </div>
      </ion-card-content>
        
      </ion-card>
      <ion-card style="background: #d9d9d9;">

        <ion-card-content style="text-align: center;">
        <div style="margin-left: auto !important; margin-right: auto !important;  width: 150px;">
          <span><b style="color: black;">Faire un transaction</b></span>
        </div>
      </ion-card-content>
        <div style="margin-left: auto !important; margin-right: auto !important;  width: 273px;">
          <form #f="ngForm" id="form" (ngSubmit)="dotransaction(f.value)">
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select ngModel name="type" required=""  placeholder="type de transaction">
                <ion-select-option value="Depot">Depot</ion-select-option>
                <ion-select-option value="Retrait">Retrait</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label  position="floating">Montant (en XAF)</ion-label>
              <ion-input ngModel name="montant" required=""  type="number"></ion-input>
            </ion-item>

            <ion-button 
            color="success" [disabled]="!f.valid" type="submit" >
            <ion-text>Valider</ion-text>
          </ion-button>
          </form>
          
        </div>
      </ion-card>
    </div>
    <div *ngIf="segmentModel === 'depot'">
      <div *ngFor="let dep of depot">
        <ion-list>
          <ion-item >
            <ion-avatar  *ngIf="dep.etat==='valider'" slot="end">
              <img src="/assets/img/valid.jpg">
            </ion-avatar>
            <ion-avatar  *ngIf="dep.etat==='novalider'" slot="end">
              <img src="/assets/img/bad.png">
            </ion-avatar>
            <ion-avatar  *ngIf="dep.etat==='init'" slot="end">
              <img src="/assets/img/traitement.png">
            </ion-avatar>
            Depot de {{dep.montant}} xaf{{dep.createat|date: 'dd/MM/yyyy HH:mm'}})
          </ion-item>
        </ion-list>
     </div>
    </div>

    <div *ngIf="segmentModel === 'retrait'">
      <div *ngFor="let dep of retrait">
        <ion-list>
          <ion-item >
            <ion-avatar  *ngIf="dep.etat==='valider'" slot="end">
              <img src="/assets/img/valid.jpg">
            </ion-avatar>
            <ion-avatar  *ngIf="dep.etat==='novalider'" slot="end">
              <img src="/assets/img/bad.png">
            </ion-avatar>
            <ion-avatar  *ngIf="dep.etat==='init'" slot="end">
              <img src="/assets/img/traitement.png">
            </ion-avatar>
            Depot de {{dep.montant}} xaf({{dep.createat|date: 'dd/MM/yyyy HH:mm'}})
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>