<ion-tabs>

  <ion-tab-bar slot="bottom" style="background: black !important;     border-radius: 5px;">
    <ion-tab-button tab="tab1" style="background: black !important;">
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Chalenge</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab3" style="background: black !important;">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Catégorie</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4" style="background: black !important;">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Finance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="background: black !important;">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
