<ion-content>

  <div class="header" >
    <h2>@{{userinfo.username}}</h2>

    <div class="space-between" >
      <div class="followings">
        <!-- <ion-badge color="primary" mode="ios">42</ion-badge>
        <p>chalenge</p> -->
      </div>

      <div class="followings">
        <!-- <ion-badge color="primary" mode="ios">102</ion-badge>
        <p>Abonnements</p> -->
      </div>
    </div>

  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img style="height: 90px; width: 90px;" src="/assets/img/6718687_preview-removebg-preview.png">
        </div>
      </div>
    </div>
  </div>
  <ion-toolbar color="dark">

    <ion-segment 
    value="all" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)" class="bgblack">

      <ion-segment-button value="profil" class="bgblack">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-segment-button>




      <ion-segment-button value="transaction" class="bgblack">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-label>Verification</ion-label>
      </ion-segment-button>

      <ion-segment-button value="changepass" class="bgblack" >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Changer mon pass</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="parametre" class="bgblack" >
        <ion-icon name="construct"></ion-icon>
        <ion-label>Parametre</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>


  <div *ngIf="segmentModel === 'profil'">

    
    

    <ion-card-header style="background: #7100e2;">
      <ion-card-title style="color:white;">Information personelle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <ion-button color="danger"  (click)="logout();"><ion-icon size="large"  name="log-out-outline"></ion-icon>Déconnecter</ion-button>
          <ion-button color="secondary" [routerLink]="['/editprofil']"><ion-icon name="create-outline"></ion-icon>Edition</ion-button>
        </ion-label>
     </ion-item>
      <ion-item>
        <ion-label>
          <b style="color:orange;" >Nom:</b><br>{{userinfo.nom}} {{userinfo.prenom}}
        </ion-label>
     </ion-item>

     <ion-item>
      <ion-label>
        <b style="color:orange;" >Sexe:</b><br>{{userinfo.sexe}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <b style="color:orange;" >Age:</b><br>{{userinfo.age}} ans
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b style="color:orange;">Téléphone:</b><br> {{userinfo.telephone}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b style="color:orange;" >Pays:</b><br> {{userinfo.pays}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b style="color:orange;" >Ville:</b><br> {{userinfo.ville}}
      </ion-label>
      
    
    </ion-item>
      
    
    </ion-card-content>
  </div>
  

  
  <div *ngIf="segmentModel === 'transaction'">
    <div>
        <p style="margin: 15px;" [hidden]=numerook>
          
          <b style="color:green;">Votre numero est deja valider, vous pouvez fiare des retrait de votre compte</b>
          <img style="height: 122px;" src="assets/img/unnamed.png" />
        </p>
   </div>
    <form  id="form" [hidden]=afficheformp1>
    <p style="margin: 15px;">
      Cliquez sur le boton "<b style="color:orange;">Recevoire le code</b>" pour confirmer votre numero de telephone afin de faire les 
      retraits de votres compte.
    </p>
      <ion-button (click)="sendusername()"  slot="end" expand="block" color="primary"  shape="round"  type="submit" ><b style="color:white;" >Recevoire le code</b></ion-button>
    </form>

      <form #fvalid="ngForm" id="form" [hidden]=afficheformp2 (ngSubmit)="valid(fvalid.value)">
        <div id="header">
        <b><span (click)="desableform()">Anuller</span></b><br>
          <img style="height: 217px;" src="assets/img/New message-amico.svg" />
        </div>
        <ion-item style="border-radius: 50px;" class="ion-margin-bottom">
          <ion-input  type="text" placeholder="Code recu par sms" name="code" ngModel required="" ></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary"  shape="round" [disabled]="!fvalid.valid" type="submit" ><b style="color:white;" >Valider</b></ion-button>
        
      </form>
  </div>



  <ion-card *ngIf="segmentModel === 'changepass'">
    <form #fvalid="ngForm" id="form" (ngSubmit)="changepass(fvalid.value)">
      <div id="header">
        <img style="height: 217px;" src="assets/img/Version control-bro.svg" />
      </div>
      <ion-item style="border-radius: 50px;" class="ion-margin-bottom">
        <ion-input  type="text" placeholder="Ancien mot de passe" name="ancienpass" ngModel required="" ></ion-input>
      </ion-item>
      <ion-item style="border-radius: 50px;" class="ion-margin-bottom">
        <ion-input [type]="showPassword ? 'text': 'password' " placeholder="mot de passe" name="nouvaupass" ngModel required=""></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="passwordToggle()"> </ion-icon>
        <!-- <ion-input  type="text" placeholder="Nouveau mot de passe" name="nouvaupass" ngModel required="" ></ion-input> -->
      </ion-item>
      <ion-button expand="block" color="primary"  shape="round" [disabled]="!fvalid.valid" type="submit" ><b style="color:white;" >Valider</b></ion-button>
    </form>
  </ion-card>

  <div *ngIf="segmentModel === 'parametre'">
    <ion-card>
    <ion-card-header>
      <h4><b>Personnel</b></h4>
    </ion-card-header>
    <ion-card-content>
      <h2 ><ion-icon size="large" style="color:red;" name="log-out-outline"></ion-icon><b style="color:tomato;" >Se déconnecter</b></h2>
    </ion-card-content>
    
  </ion-card>
</div>

  <ion-card *ngIf="segmentModel === 'onemore'">
    <ion-card-header>
      <ion-card-subtitle>Segment Content</ion-card-subtitle>
      <ion-card-title>One More</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'tofill'">
    <ion-card-header>
      <ion-card-subtitle>Segment Content</ion-card-subtitle>
      <ion-card-title>To Fill</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>