.header {
    background-color:#f7770f;
    height: 170px;
    padding-top: 1px;
   // border-radius: 0px 0px 20px 20px;
}
.header h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}
.bgblack{
    background-color: black !important;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}




.img-box {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
}
.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 7px solid black;
    border-radius: 50%;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: -112px;
}


.tweet {
    margin-top: -10px;
}
.tweet ion-label {
    line-height: 1!important;
    font-size: 15px;
    margin: 6px 0px 6px 0px!important;
    min-height: 34px;
}
.tweet-img {
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}
i {
    color: #2196F3;
    font-weight: 800;
}

.toto {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
    }
  }
  
  ion-content {
    --background: #f5f5f3;
  
    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
      }
  
      img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        //border: 8px solid #1e6609;
      }
    }
  
    #form {
      //margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;
  
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
       
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
  }
  ion-item {
    
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    --highlight-height: 0px;
  
    ion-input {
      font-size: 18px;
      --padding-top: 20px;
      --padding-bottom: 15px;
      --padding-start: 5px;
    }
  
    a {
      font-size: 17px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }

  p{
    margin: 27px;
    text-align: center;
  }

