<ion-header>
  <ion-toolbar color="dark">
    <ion-segment 
    value="all" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)" class="bgblack">

      <ion-segment-button value="all" class="bgblack">
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label>Tous</ion-label>
      </ion-segment-button>
      <ion-segment-button value="aujourdhui" class="bgblack">
        <ion-icon name="watch-outline"></ion-icon>
        <ion-label>Aujourd'hui</ion-label>
      </ion-segment-button>

      <ion-segment-button value="futur" class="bgblack">
        <ion-icon name="golf-outline"></ion-icon>
        <ion-label>Prochain</ion-label>
      </ion-segment-button>
      <ion-segment-button value="terminer" class="bgblack">
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label>Terminer</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>
<ion-content padding>
  <div [hidden]=emptyblock class="ion-text-center">
    <img src="assets/img/No data-bro.svg" style="width: 50%;"/>
    <ion-button style="color:white;" expand="block"> <ion-icon name="radio-outline"></ion-icon> RECHARGER</ion-button>
  </div>
  
  <div *ngIf="segmentModel === 'all'">
    <ion-item-divider style="background: #7100e2; color:white;"><b>Tous les challenges</b></ion-item-divider>
    
    <div  class="ion-text-center"  *ngIf="chalenges.length==0 && loarder==true">
      <img src="assets/img/Empty-pana (1).svg" style="width: 50%;"/>
      <ion-text color="dark">
        <h5>Pas de données</h5>
      </ion-text>
      <ion-button style="color:white;" expand="block"> <ion-icon name="radio-outline"></ion-icon> RECHARGER</ion-button>
    </div>

    <div *ngFor="let chal of chalenges">
      <ion-card >
        <img src='{{chal["image"]}}' />
        
        <div class="participation" style="background: #d9690d;"><ion-icon slot="start" name='logo-bitcoin'></ion-icon>  {{chal["prix"]}} XAF</div>
        <div class="teste" style="background: #d9690d;"><ion-icon slot="start" name="person"></ion-icon>  {{ chal["userchallenge"].length }}/{{chal["placemin"]}}</div>
        <div class="datechalenge" style="background: #d9690d;"><ion-icon name="calendar-sharp" style="background: #d9690d;"></ion-icon>  {{chal["jourchalenge"] | date}}</div>
        <ion-card-header>
          <ion-card-title>{{chal["nom"]}}
            
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{chal["description"]}}
        </ion-card-content>
        <ion-list>
          <ion-item lines="full">
            <img style="height:35px;" src="/assets/img/trophy.png"/> 
            <!-- <ion-icon style="color: #d9690d;" slot="start" name="ribbon"></ion-icon> -->
            <ion-label><b>{{(chal["prix"]*chal["userchallenge"].length)-((chal["prix"]*chal["userchallenge"].length*chal["pourcententreprise"])/100)}} XAF</b></ion-label>
            <!-- badge with right position with different badge values -->
            <ion-button (click)="govalidpage(chal['id'])" style="background: #06c0e1; color:white;">M'inscrire</ion-button>
            <!-- <ion-badge slot="end">4000 XAF</ion-badge> -->
          </ion-item>
        </ion-list>
        
      </ion-card>
    </div>
  </div>
  <div *ngIf="segmentModel === 'aujourdhui'">
    <ion-item-divider style="background: #7100e2; color:white;"><b>Vos chalenges d'aujourd'hui</b></ion-item-divider>
    
    <div  class="ion-text-center"  *ngIf="chalengesday.length==0 && loarder==true">
      <img src="assets/img/Empty-pana (1).svg" style="width: 50%;"/>
      <ion-text color="dark">
        <h5>Pas de données</h5>
      </ion-text>
    </div>
    <ion-list>
      <ion-item  *ngFor="let chal of chalengesday">
        <ion-thumbnail slot="start">
          <img src="{{chal.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{chal.nomchalleng}}</h2>
          <h3>{{chal.desc}}</h3>
          <p>
            <ion-badge color="primary" style="margin-right: 10px; color:white;" ><ion-icon name="color-wand-outline"></ion-icon> {{chal.note}}/{{chal.nbq}}</ion-badge> 
            <ion-badge color="success" style="margin-right: 10px; color:white;" ><ion-icon name="barbell-outline"></ion-icon> {{chal.cote}}</ion-badge>
            <ion-badge *ngIf="!chal.close && chal.playstart" color="success">en pause</ion-badge> 
            <ion-badge *ngIf="!chal.close && !chal.playstart" color="success">Non débuter</ion-badge> 
          </p>
        </ion-label>
        <!-- <ion-badge *ngIf="!chal.close" color="success" slot="end">Jouer</ion-badge> -->
        <ion-button *ngIf="!chal.close && chal.playstart" (click)="gopageplay(chal.idchallenge)" slot="end" style="color:white;"><ion-icon name="play"></ion-icon>Continuer</ion-button>
        <ion-button *ngIf="!chal.close && !chal.playstart" slot="end" (click)="gopageplay(chal.idchallenge)" style="color:white;"><ion-icon name="play"></ion-icon> Jouer</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="segmentModel === 'futur'">
    <ion-item-divider style="background: #7100e2; color:white;"><b>Futur challenges</b></ion-item-divider>
    <div  class="ion-text-center"  *ngIf="chalengesfutur.length==0 && loarder==true">
      <img src="assets/img/Empty-pana (1).svg" style="width: 50%;"/>
      <ion-text color="dark">
        <h5>Pas de données</h5>
      </ion-text>
    </div>
    <ion-list>
      <ion-item  *ngFor="let chal of chalengesfutur">
        <ion-thumbnail slot="start">
          <img src="{{chal.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{chal.nomchalleng}}</h2>
          <h3>{{chal.desc}}</h3>
          <p>
            <ion-badge color="primary" style="margin-right: 10px; color:white;">{{chal.date.date|date: 'dd/MM/yyyy'}}</ion-badge> 
            <ion-badge color="success">Total question:{{chal.nbq}}</ion-badge> 
          </p>
        </ion-label>
        
      </ion-item>
    </ion-list>

  </div>
  <div *ngIf="segmentModel === 'terminer'">
    <ion-item-divider style="background: #7100e2; color:white;"><b>Challenges terminer</b></ion-item-divider>
    <div  class="ion-text-center"  *ngIf="chalengespass.length==0">
      <img src="assets/img/Empty-pana (1).svg" style="width: 50%;"/>
      <ion-text color="dark">
        <h5>Pas de données</h5>
      </ion-text>
    </div>
    <ion-list>
      <ion-item  *ngFor="let chal of chalengespass">
        <ion-thumbnail slot="start">
          <img src="{{chal.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{chal.nomchalleng}}</h2>
          <h3>{{chal.desc}}</h3>
            <p>
              <!-- <ion-badge color="primary" style="margin-right: 10px; color:white;">{{chal.date.date|date: 'dd/MM/yyyy'}}</ion-badge> <br> -->
              <ion-badge color="secondary" style="margin-right: 10px; color:white;"><ion-icon name="color-wand-outline"></ion-icon>{{chal.note}}/{{chal.nbq}}</ion-badge>
              <ion-badge color="secondary" style="margin-right: 10px; color:white;"><ion-icon name="barbell-outline"></ion-icon>{{chal.cote}}</ion-badge> 
              <ion-badge color="secondary" style="margin-right: 10px; color:white;"><ion-icon name="bicycle-outline"></ion-icon>{{chal.rang}}</ion-badge> 
            </p>
        </ion-label>
        <ion-button  [routerLink]="['/result/'+chal.idchallenge]" slot="end" style="color:white;"><ion-icon name="eye"></ion-icon>Résultats</ion-button>
      </ion-item>
    </ion-list>
    
  </div>

  
</ion-content>