<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button name="chevron-back-outline"></ion-back-button>
      <ion-title color="primary" slot="end">Les categories de challenge</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
</ion-header>


<ion-content class="card-background-page" [fullscreen]="true">


  <div *ngFor="let cat of categories">
  <ion-card [routerLink]="['/catchallenge/'+cat['id']]">
    <img src='{{cat["photo"]}}'/>
    <div class="card-title"></div>
    <div >
    <div class="card-subtitle" style="background: #1e1e1e94 ;">
      <h1>{{cat["nom"]}}</h1>
      <p>{{cat["description"]}}</p>
      <ion-badge color="danger">{{ cat["chalenge"].length }} challenge(s)</ion-badge>
    </div>
   </div>
  </ion-card>
</div>


</ion-content>
