<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Retour" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let chal of chalenges">
    <ion-card >
      <img src='{{chal["image"]}}' />
      <div class="participation" style="background: #d9690d;"><ion-icon slot="start" name='logo-bitcoin'></ion-icon>  {{chal["prix"]}} XAF</div>
      <div class="teste" style="background: #d9690d;"><ion-icon slot="start" name="person"></ion-icon>  {{ chal["userchallenge"].length }}/{{chal["placemin"]}}</div>
      <div class="datechalenge" style="background: #d9690d;"><ion-icon name="calendar-sharp" style="background: #d9690d;"></ion-icon>  {{chal["jourchalenge"] | date}}</div>
      <ion-card-header>
        <ion-card-title>{{chal["nom"]}}
          
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{chal["description"]}}
      </ion-card-content>
      <ion-list>
        <ion-item lines="full">
          <img style="height:35px;" src="/assets/img/trophy.png"/> 
          <!-- <ion-icon style="color: #d9690d;" slot="start" name="ribbon"></ion-icon> -->
          <ion-label><b>{{(chal["prix"]*chal["userchallenge"].length)-((chal["prix"]*chal["userchallenge"].length*chal["pourcententreprise"])/100)}} XAF</b></ion-label>
          <!-- badge with right position with different badge values -->
          <ion-button (click)="govalidpage(chal['id'])" style="background: #06c0e1; color:white;">M'inscrire</ion-button>
          <!-- <ion-badge slot="end">4000 XAF</ion-badge> -->
        </ion-item>
      </ion-list>
      
    </ion-card>
  </div>
</ion-content>
