:root {  
    // --ion-safe-area-top: 20px;  
    // --ion-safe-area-bottom: 22px;  
  }  
  .swiper-slide {  
    display: block;  
  }  
  ion-slide > h2 {  
    margin-top: 2.8rem;  
  }  
  // ion-slide > img {  
  //   // max-height: 60%;  
  //   // max-width: 70%;  
  //  // margin: 36px 0;  
  // }  
  .desc{
    color:#4a5568;
  }
  .toppage{
    position: absolute;
    top: 0px;
    font-weight: 700;
    left: 0px;
  }
  .skip{
    position: absolute;
    right: 0px;
    bottom: -22px;
    color: #ff7200;
  }