<ion-content fullscreen class="ion-padding" scroll-y="true" >  
  <ion-slides pager="false" [options]="slideOpts">  
  
    <ion-slide>  
      <img src="/assets/img/Challenge-cuate.png"/>  
      <h2><b>Mychalenge</b></h2>  
      <p class="desc"><b>Bienvenue</b> sur votre nouvelle application de chalenge 100% camerounais.
        sur votre nouvelle application de chalenge 100% camerounais.
        sur votre nouvelle application de chalenge 100% camerounais.
        sur votre nouvelle application de chalenge 100% camerounais.<br> <br> <br> 
      </p>
      <p class="toppage">1/3</p>  
      <p class="skip" (click)="nextslide()">Suivant <b>></b></p>
      
    </ion-slide>  
  
    <ion-slide>  
      <img src="/assets/img/Connected-bro.svg"/>  
      <h2><b>Pourquoi my chalenge?</b></h2>  
      <p class="desc">Grace a notre application vous allez participer a des chalenge et gagnier de largent
        <br> <br> <br>   
      </p>  
      <p class="toppage">2/3</p>
      <p class="skip" (click)="nextslide()">Suivant <b>></b></p>
    </ion-slide>  
  
    <ion-slide>  
      <img src="/assets/img/Banknote-bro.svg"/>  
      <h2><b>Retrait?</b></h2>  
      <p class="desc">Les retrait de vos gain sont intantane et via les methode mobile (orange money, Mtn money,Eu money)
        <br> <br> <br> 

      </p> 
      <p class="toppage">3/3</p>
      <p [routerLink]="['/register']" class="skip">Commencer <b>></b></p>
    </ion-slide>   
  
  </ion-slides>  
</ion-content>  