

<ion-content padding>





  <ion-card >
    <img src="{{question.photo}}" />
    <div class="participation" style="background: #2dd36f;"><ion-icon name="alarm-outline"></ion-icon>{{time | async }}</div>
    <div class="teste" style="background: #d9690d;"><ion-icon name="heart-circle-outline"></ion-icon>  {{score}}</div>
    <div class="datechalenge" style="background: #d9690d;">Cote({{cote}})</div>
    <ion-card-header>
      <ion-card-title>Question {{question.numero}} / {{nbq}}
        
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{question.enoncer}}
    </ion-card-content>
    <div *ngIf="question.r1"> 
        <ion-button  color="dark" (click)="correctionquestion(question.r1,user.id,challengeid,question.id)" class = "button button-block">
        <b>{{question.r1}}</b>
        </ion-button>
    </div>
    <div *ngIf="question.r2"> 
      <ion-button color="dark"  (click)="correctionquestion(question.r2,user.id,challengeid,question.id)" class = "button button-full">
      <b>{{question.r2}}</b>
      </ion-button>
   </div>
   <div *ngIf="question.r3"> 
    <ion-button color="dark" (click)="correctionquestion(question.r3,user.id,challengeid,question.id)" class = "button button-full">
    <b>{{question.r3}}</b>
    </ion-button>
   </div>
   <div *ngIf="question.r4">  
    <ion-button color="dark" (click)="correctionquestion(question.r4,user.id,challengeid,question.id)" class = "button button-full">
    <b>{{question.r4}}</b>
    </ion-button>
  </div>

  <div *ngIf="question.r5"> 
    <ion-button color="dark"  (click)="correctionquestion(question.r5,user.id,challengeid,question.id)" class = "button button-full">
    <b>{{question.r5}}</b>
    </ion-button>
 </div>
 <div  *ngIf="question.r6"> 
  <ion-button color="dark" (click)="correctionquestion(question.r6,user.id,challengeid,question.id)"  class = "button button-full">
  <b>{{question.r6}}</b>
  </ion-button>
 </div>
  </ion-card >
</ion-content>