/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-class {
    --backdrop-opacity: 0.2;
    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
        font-size: 16;
        color: #f7770f;
       // background: brown;
    }  
  
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        color: black;
    }
    .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios {
        color: white;
        background-color: #f7770f;
        
        border-radius: 2px;
    }
    
}

.my-custom-classbackup {
    --backdrop-opacity: 0.2;
    --background: green;
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        color: yellow;
    }
    
}

.basic-alert {
    --backdrop-opacity: 0.6;
    --background: linear-gradient(90deg, rgb(30, 0, 201) 1%, rgb(248, 255, 248) 100%);
    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
        font-size: 16;
        color: yellow;
    }   
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        color: yellow;
    }
    .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios {
        color: yellow;
        background-color: red;
        width: 100px;
        border-radius: 2px;
    }
}

.card-alert {
    width: 75px;
    height:75px;
    float: left;
}
