<!-- Back button with custom text and icon -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Retour" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" [hidden]=loarder></ion-progress-bar>
  
</ion-header>
  
  <ion-content>
    
    <div
      style="background-size: cover;"
      [style.background-image]="'url('+ imgcha +')'"
      class="slides ion-margin-bottom">
      <img  style="width:100px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 20px; margin-top: 50px;" src="assets/img/interogation.png">
       
    </div>
  
    <div class="container">
        <ion-item style="opacity: 0.5;" color="danger">
            <ion-label>
              <p style="color:white;">prix:{{chalenge['prix']}} XAF</p>
              <h2 style="color:white;">{{chalenge['nom']}} </h2>
            </ion-label>
          </ion-item> 
      <ion-card-title>Valider votre participation</ion-card-title>
      <p>
          <ion-card-content>
            {{chalenge['description']}} 
          </ion-card-content>
        
      </p>
      <ion-button (click)="registerchallenge()" expand="block" color="primary"  shape="round" type="submit" ><b style="color:white;" >VALIDER</b></ion-button>
    </div>
  
  </ion-content>