<ion-content>
  <div style="margin-left: auto !important; margin-right: auto !important;  width: 200px;">
    <img  style=" height: 200px;" src="/assets/img/valid.jpg">
  </div>
  <ion-card-content style="font-size: 20px;">
    Vous avez terminé le challenge (<b style="color: green;">{{challenge}}</b>) avec une note de <b style="color: green;">{{note}}/{{qttotal}}</b>,
    et une cote de <b style="color: green;">{{cote}}</b>.<br>
    <b style="color:red;">NB:Les résultats seront bientôt disponibles </b>
    <ion-button [routerLink]="['/tabs/tab1']" expand="block" color="primary"  shape="round"  ><b style="color:white;" >FERMER</b></ion-button>
  </ion-card-content>
  
</ion-content>
